.popup__container {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  max-width: calc(430px - 72px);
  max-height: calc(330px - 72px);
  padding: 36px;
  position: relative;
}

@media all and (max-width:530px) {

  .popup__container {
    width: 70%;
    min-width: 282px;
  }
}
