.popup_closed {
    display: none;
}

.popup_fadeout {
    display: flex;
    animation: fadeout 0.5s ease-out;

}

@keyframes fadeout {
    0% {
        display: flex;
        opacity: 1;
    }
    1% {
        display: flex;
    }
    100% {
        display: none;
        opacity: 0;
    }
    }
}